{% load staticfiles %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Quagmire Zone Underground</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nosifer">
        <link rel="stylesheet" type="text/css" href="{% static 'quagmire.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    </head>
    <body>
        <header>
            <nav class="navbar">
                <ul class="nav navbar-nav">
                    <li class="title"><a href="/">Quagmire Zone<br>Underground</a></li>
                </ul>
                <div class="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li>
                                <a href="/user/{{ user.username }}" class="btn btn-primary navbar-btn">{{ user.username }}</a>
                            </li>
                            {% if user.userextension.isDeveloper %}
                                <li>
                                    <a href="/developer/{{ user.username }}" class="btn btn-success navbar-btn">Developer page</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="/logout" class="btn btn-link navbar-btn" role="button">Logout</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="/login" class="btn btn-primary navbar-btn" role="button">Login</a>
                            </li>
                            <li>
                                <a href="/register" class="btn btn-primary navbar-btn" role="button">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        <div class="container">
            <div class="row">
                <div class="generic"><div class="description">Developer information</div></div>
                <div class="generic">
                    {% if user.userextension.isDeveloper == False or user.is_authenticated == False %}
                        By becoming a Quagmire Zone Underground developer, you get to add your games to our service and price them. Other users of our site can then buy your games and play them. Quagmire Zone Underground offers its developers built-in tools to add and manage their games. We also track sales statistics for every game in our system.<br><br>
                    {% endif %}
                    {% if user.is_authenticated %}
                        {% if user.userextension.isDeveloper == False %}
                            <form method="POST" action="/developerinfo">
                            {% csrf_token %}
                            <input class="btn submit" type="submit" value="Become a developer now!" />
                            </form>
                        {% else %}
                            You are a Quagmire Zone Underground developer! You can access your developer page by clicking the green button in the header.
                        {% endif %}
                    {% else %}
                        You have to be logged in to become a developer.
                    {% endif %}
                </div>
            </div>
        </div>
        <footer class="footer">&copy; 2016 Quagmire Zone Underground. All rights reserved.<br><a href="mailto:vskatshuma@gmail.com">Contact us</a></footer>
    </body>
</html>