
body {
	margin: 0;
	height: 100%;
	background: #1B2838;
	color: #FFFFFF;
	font-family: "Verdana";
}

header {
	width: 100%;
	background: #000000;
	border-bottom: 1px dashed gray;
}

.navbar {
	margin-bottom: 0;
	border-bottom: 1px dashed gray;
}

.title {
	text-decoration: none;
	font-family: "Nosifer";
	font-size: 28px;
}

.title a {
	color: #FF8800;
}

.title a:active {
	color: #FFFF00;
}

.title a:hover {
	background-color: transparent !important;
}

.title a:focus {
	background-color: transparent !important;
}

@media (min-width: 768px) {

	.nav > li > a.btn {
		min-width: 90px;
		margin-right: 12px;
	}

}

/*.center {
	top: 50%;
	-ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}*/

.game-frontpage {
	background-color: #273B52;
	border: 1px solid #337AB7;
	margin: 18px 0;
	padding: 12px;
}

footer {
	width: 100%;
	text-align: center;
	margin: 6px 0;
}
