{% load staticfiles %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Quagmire Zone Underground</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nosifer">
        <link rel="stylesheet" type="text/css" href="{% static 'quagmire.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    </head>
    <body>
        <header>
            <nav class="navbar">
                <ul class="nav navbar-nav">
                    <li class="title"><a href="/">Quagmire Zone<br>Underground</a></li>
                </ul>
                <div class="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li>
                                <a href="/user/{{ user.username }}" class="btn btn-primary navbar-btn">{{ user.username }}</a>
                            </li>
                            {% if user.userextension.isDeveloper %}
                                <li>
                                    <a href="/developer/{{ user.username }}" class="btn btn-success navbar-btn">Developer page</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="/logout" class="btn btn-link navbar-btn" role="button">Logout</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="/login" class="btn btn-primary navbar-btn" role="button">Login</a>
                            </li>
                            <li>
                                <a href="/register" class="btn btn-primary navbar-btn" role="button">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        <div class="container">
            <div class="row">
                {% if purchased_now %}
                    <div class="generic success">You have successfully purchased {{ game.name }}! You can now play the game!</div>
                {% endif %}
                <div class="generic">
                    <div class="name">{{ game.name }}</div><img class="resize" src="{{ game.image }}"><img class="resize" src="{{ game.image2 }}"><br>{{ game.genre }}<br>Developer: {{ game.developer }}<br>Released: {{ game.createDate|date:'j M, Y' }}<br>{{ game.price }} €
                </div>
                <div class="generic">
                    <div class="description">Description</div>{{ game.description }}
                </div>
                <div class="generic">
                    {% if user.is_authenticated %}
                        {% if owned %}
                            <a href="/game/{{ game.URL }}/play" class="btn btn-primary" role="button">Play the game!</a>
                            Your best score:
                        	{% for highscore in highscores %}
                            	{% if highscore.user == user %}
                                	<p> Score: {{ highscore.data }} Player: {{ user }} </p>
                            	{% endif %}
                        	{% endfor %}
                        {% else %}
                            <form action="http://payments.webcourse.niksula.hut.fi/pay/" method="POST">
                                <input type="hidden" name="pid" value="{{ purchase_info.payment_id }}" />
                                <input type="hidden" name="sid" value="{{ purchase_info.seller_id }}" />
                                <input type="hidden" name="success_url"
                                    value="{{ purchase_info.success_url }}" />
                                <input type="hidden" name="cancel_url"
                                    value="{{ purchase_info.cancel_url }}" />
                                <input type="hidden" name="error_url"
                                    value="{{ purchase_info.error_url }}" />
                                <input type="hidden" name="checksum"
                                    value="{{ purchase_info.checksum }}" />
                                <input type="hidden" name="amount" value="{{ purchase_info.amount }}" />
                                <input type="submit" value="Purchase" class="btn" />
                            </form>
                        {% endif %}
                    {% endif %}
                    All-time-high scores:
                    {% for highscore in highscores %}
                        <p> Score: {{ highscore.data }} Player: {{ highscore.user }} </p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <footer class="footer">&copy; 2016 Quagmire Zone Underground. All rights reserved.<br><a href="mailto:vskatshuma@gmail.com">Contact us</a> | Become a <a href="/developerinfo">developer</a></footer>
    </body>
</html>