{% load staticfiles %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Quagmire Zone Underground</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nosifer">
        <link rel="stylesheet" type="text/css" href="{% static 'quagmire.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    </head>
    <body>
        <header>
            <nav class="navbar">
                <ul class="nav navbar-nav">
                    <li class="title"><a href="/">Quagmire Zone<br>Underground</a></li>
                </ul>
            </nav>
        </header>
        <div>
            <form method="POST" action="/register">
                {% csrf_token %}
                registration page placeholder
                {{form.as_p}}
                <input type ="submit" value="Submit" />
            </form>
        </div>
        <footer class="footer">&copy; Quagmire Zone Underground, 2016</footer>
    </body>
</html>